<div class="show-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= @list.image_url %>');">
    <h1><%= @list.name %></h1>
    <h5><%= @list.comment%></h5>
    <p class="count-movies"><%= @list.bookmarks.length %> movies</p>
</div>

<div class="container mt-4">
<H2>Edit your list</H2>
<%= simple_form_for(@list) do |f| %>
  <%= f.input :name %>
  <%= f.input :comment %>
  <%= f.input :image_url, input_html: { type: "url" }  %>
  <%= f.submit  %>
<% end %>

<%= link_to "back", list_path(@list) %>
</div>
