<div class="home-banner">
  <h1 id="home-title">Save any kind of movies</h1>
</div>

<div class="container pt-1 pb-5">
  <div class="header-home">
    <h2>My lists :</h2>
    <%= link_to "+ Créer une nouvelle liste",  new_list_path, class: "btn btn-primary my-2", id: "btn-home"%>
  </div>

    <div class="parent">
      <div class="card-grid">
        <% @lists.each do |list|%>
          <% if list.image_url.present? %>
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= list.image_url %>');">
          <% else %>
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= list.image %>');">
          <% end %>
            <%= link_to list_path(list) do %>
              <h2 class="card-title"><%= list.name %></h2>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

</div>
