<div class="home-banner">
  <h1 id="home-title">Save any kind of movies</h1>
</div>
<div class="container mt-5">
<h3>New List :</h3>
  <%= simple_form_for(@list) do |f| %>
    <%= f.input :name %>
    <%= f.input :comment %>
    <%= f.input :image_url, input_html: { type: "url" }  %>
    <%= f.input :photo, as: :file  %>
    <%= f.submit %>
  <% end %>
</div>
