<div class="container pt-5">
<h1>Add movie</h1>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment %>
  <%= f.input :rating, collection: (1..10).to_a, label: "Rate your experience", input_html: {data: {controller: "star-rating"}} %>
  <%= f.association :movie %>
  <%= f.button :submit %>
<% end %>

</div>
