<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchListV2</title>
    <link rel="icon" type="image/png" src="app/assets/images/icons8-projecteur-de-film-48.png">

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="background-body">

    <%= yield %>

  </body>
</html>
